
.contenitore_generico{
    width: 1050px;
    margin: 0 auto;
}

.contenitore_header {
    background-color: rgb(82, 162, 252);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
    height: 100px;
}

.caption_titolo{
    color: rgb(128, 128, 128);
}


h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#autore{
    color: rgb(82, 162, 252);
}

#data{
    font-size: 80%;
}

#logo{
    height: 50px;
    margin-top: 50px;
}

#foto{
    height: 345px;
    margin-left: 0%;
}